html,
body {
  min-width: 100%;
  min-height: 100%;
}

:root {
  --gray-050: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;

  --red-050: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;

  --green-050: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;

  --purple-050: #f5f3ff;
  --purple-100: #ede9fe;
  --purple-200: #ddd6fe;
  --purple-300: #c4b5fd;
  --purple-400: #a78bfa;
  --purple-500: #8b5cf6;
  --purple-600: #7c3aed;
  --purple-700: #6d28d9;
  --purple-800: #5b21b6;
  --purple-900: #4c1d95;
}

body {
  background: var(--gray-900);
  padding: 32px 7.5vw;
  position: relative;
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  align-items: flex-end;
}

header .avatar {
  width: 100px;
  height: 100px;

  background: var(--gray-800);
  border-radius: 32px 32px 0 0;
  position: relative;
}

header .avatar::before {
  content: "";

  width: 100px;
  height: 100px;

  position: absolute;
  top: 8px;
  left: 8px;

  background: var(--purple-900);
  border-radius: 0 32px 0 0;
  z-index: -1;
}

header .avatar img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 32px 32px 0 0;
  background: var(--gray-700);
}

header > div:not(.avatar) {
  padding: 0 0 16px 24px;
}

header h1 {
  color: var(--purple-700);
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

header h1 b {
  font-size: 32px;
  font-weight: 500;
}

header > div > div {
  display: flex;
  align-items: center;
}

header span {
  color: var(--purple-400);
  display: inline-block;
}
header span:first-of-type {
  font-size: 14px;
}
header span:last-of-type {
  font-size: 12px;
}

header i {
  color: var(--purple-400);
  font-size: 4px;
  margin: 0 4px;
  font-weight: 300;
}

body > p {
  background: var(--gray-800);
  border-radius: 0 32px 32px 32px;
  color: var(--gray-200);
  font-weight: 300;
  font-size: 14px;
  padding: 16px 32px 32px 16px;
  text-align: justify;
  position: relative;
  margin-bottom: 64px;
}

body > p::before {
  content: "";

  width: 100%;
  height: 100%;

  position: absolute;
  top: 8px;
  left: 8px;

  background: var(--purple-900);
  border-radius: 32px;
  z-index: -1;
}

.row {
  display: flex;
}

.column {
  flex: 1 0;
}

.column + .column {
  margin-left: 64px;
}

.card {
  position: relative;
  text-align: center;
}

.card::before {
  content: "";

  width: 100%;
  height: 100%;

  position: absolute;
  top: 8px;
  left: 8px;

  background: var(--purple-900);
  border-radius: 32px;
  z-index: -1;
}

.card + .card {
  margin-top: 32px;
}

.card h3 {
  padding: 8px 0;
  background: var(--gray-800);
  color: var(--purple-700);
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 32px 32px 0 0;
}

.card div {
  text-indent: 16px;
  background: var(--gray-700);
  border-radius: 0 0 32px 32px;
  color: var(--gray-200);
  font-size: 14px;
  font-weight: 300;
  padding: 16px 16px 32px;
  text-align: justify;
}

.card div b {
  padding: 0 4px;
  border-radius: 3px;
  background: var(--purple-500);
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
}

.card .icon {
  width: 64px;
  height: 40px;

  border-radius: 32px 0 32px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;

  position: absolute;

  color: var(--gray-050);
  background: var(--purple-900);
  bottom: -8px;
  right: -8px;
}

.card ul {
  margin-top: 8px;
  font-size: 12px;
  text-align: justify;
}

.card li::before {
  content: "• ";
  position: absolute;
  left: 8px;
  color: var(--purple-500);
}

.card li {
  text-indent: 8px;
}

.card strong {
  color: var(--gray-050);
  text-align: left;
  font-weight: 500;
}

footer {
  position: absolute;
  top: 1020px;
  right: 16px;

  color: var(--gray-200);
  font-weight: 300;
  font-size: 14px;
}

footer a {
  font-weight: 500;
  color: var(--purple-500);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

footer a i {
  font-size: 16px;
  margin-left: 8px;
  color: var(--gray-050);
  text-decoration: none;
}
